
<div appWindow class="size-full flex place-items-center justify-center
    bg-black select-none">

    <article class="size-auto p-8 rounded-md
        bg-slate-900 text-center">

        <h1 class="text-white font-bold text-5xl">
            404
        </h1>

        <h2 class="text-white text-2xl">
            Page not found
        </h2>
    
        <br>

        <a (click)="handleNavigateToEditor()"
            class="underline text-white hover:text-gray-400 cursor-pointer">
            Return to editor
        </a>

    </article>

</div>