
<section *ngIf="!object"
    class="w-full h-4
    bg-slate-700 rounded-md animate-pulse">

</section>

<section *ngIf="object"
    cdkDrag
    [cdkDragData]="object"
    class="flex flex-col gap-1">

    <div (click)="handleObjectSelection()"
        [ngClass]="{'bg-slate-700': isObjectSelected}"
        class="w-full px-1 flex gap-1
        rounded-md">

        <div [ngClass]="hasObjectChildren ? 'block' : 'hidden'"
            class="w-4 flex place-items-center justify-center">

            <div (click)="handleExpansionStatus()"
                [ngClass]="{ 'rotate-45': isExpanded }"
                class="w-2 h-2
                bg-white hover:bg-fuchsia-400 rounded-sm cursor-pointer transition">
            </div>

        </div>

        <div class="w-full
            text-white text-sm truncate">
            {{objectDataName}}
        </div>

        <div (click)="handleObjectVisibility()"
            class="material-symbols-rounded
            w-4 flex place-items-center
            text-white text-sm cursor-pointer">

            {{objectVisibility ? 'visibility' : 'visibility_off'}}
        </div>

    </div>

    <div [ngClass]="isExpanded ? 'block' : 'hidden'"
        class="w-full ps-1 flex gap-1">

        <div class="w-4 flex place-items-center justify-center">

            <div class="w-1 h-full
                border-white border-l-[1px]">
            </div>

        </div>

        <ul class="w-full flex flex-col gap-2">

            <li *ngFor="let children of objectChildren"
                class="w-full">

                <app-hierarchy-item [object]="children"> </app-hierarchy-item>
            </li>

        </ul>

    </div>

</section>
